html{
    box-sizing: border-box;
    background: #ffc600;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight: 200;
}

body{
    margin: 0;
    justify-items: center;
}

form{
    position: absolute;
    top:20%;
    left:30%;
    height: 60%;
    width: 60%;
}

form>input{
    height: 60px;
    width: 80px;
    width: 40%;
}

li{
    margin: 15px;
    border: 1px solid black;
    width:fit-content;
    background: gainsboro;
    height: 50px;
    width:30%;
}




